<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Metrics.NET-net40" version="0.2.3" targetFramework="net40" />
  <package id="Modernizr" version="1.7" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net40" />
  <package id="NancyFx.Metrics-net40" version="0.2.3" targetFramework="net40" />
</packages>